* {
    padding: 0;
    margin: 0;
    background: #F1DDBF;
    font-family: 'Inter', sans-serif;
    font-style: sans-serif;
    /* outline: 1px solid red;  */
  }

.container{
    position: relative;
    top: 13.16%;
    padding-left: 3%;
    display: flexbox;
    flex-direction: row;
} 
.maintext{
    position: relative;
    width: 60%;
    height: 17.8%;
    display: flexbox;
    top: 21.65%;
    text-align: left;
    font-weight: 700;
    font-size: 3.8vw;
    color: #342D43;
}

.subtext{
    position: relative;
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    font-weight: 400;
    display: flexbox;
    font-size: 1.7vw;
    color: #342D43;
}

.getstartedB {
    background: #342D43;
    transition-duration: 0.3s;
    font-weight: 700;
    font-size: 1.8vw;
    align-items: left;
    display: flex;
    text-align: center;
    color: #FFB668;
    position: relative;
    width: 25%;
    height: 20%;
    top: 20%;
    border-radius: 20px;
}
.getstartedB:hover:enabled {
    background-color: #FFB668;
    border: 2px solid #342D43;
    color: #342D43;
}

