.page {
    font-family: 'Lexend', sans-serif;
    background-color: #F1DDBF ;
    /* outline: 1px solid red;  */
  }

.float-container {
    /* border: 3px solid #fff; */
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 0px;
    
}

.cark{
    align-items: center;
    /* padding-top: 69px; */
    height: fit-content;
    width: fit-content;
    /* padding-left: 100px; */
}

.carok{
    width: 1000px;
    height: auto;
    align-items: baseline;
    align-content: center;
    padding-top: 75px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.google-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    position: relative;
    width: 70%;
    height: 15%;
    left: 10%;
    top: 40%;
    background: url(google-logo.png);
    background-size: 105% 105%;
    box-shadow: 0px 38.4869px 71.4756px rgba(0, 0, 0, 0.07);
    border-radius: 20.9968px;
}

.apple-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    position: relative;
    width: 70%;
    height: 15%;
    left: 10%;
    top: 50%;
    background: url(apple-logo.png);
    background-size: 105% 100%;
    box-shadow: 0px 38.4869px 71.4756px rgba(0, 0, 0, 0.07);
    border-radius: 20.9968px;
}
.line1{
    position: relative;
    display: flex;
    width: 30%;
    height: 0;
    left: 10%;
    top: 45%;
    border: 1% solid #000000;
}
.line2{
    position: relative;
    display: flex;
    width: 30%;
    height: 0;
    left: 50%;
    top: 44.5%;
    border: 1% solid #000000;
}

.or-features{
    position: relative;
    display: flex;
    width: 30%;
    height: 0;
    left: 44%;
    top: 42%;
    color:#000000;
    font-weight: 100;
    font-size: 1.2vw;
}